:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e2e2e2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  width: 500px;
  height: 200px;
}

.somePreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#lorem-ipsum {
  max-width: 500px;
  margin: 20px;
  color: #666;
}

#lorem-ipsum a, #lorem-ipsum a:visited {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}